SOURCE_MYSQL_HOST=tests.mysql.database.azure.com
SOURCE_MYSQL_PORT=3306
SOURCE_MYSQL_USER=mysqlAdmin@tests
SOURCE_MYSQL_PASSWORD=********
SOURCE_MYSQL_DATABASE=copyfrom
TARGET_MYSQL_HOST=tests.mysql.database.azure.com
TARGET_MYSQL_PORT=3306
TARGET_MYSQL_USER=mysqlAdmin@tests
TARGET_MYSQL_PASSWORD=********
TARGET_MYSQL_DATABASE=copyto